<a href="https://colab.research.google.com/github/CharlesPrado23/BCDataScience1T22N/blob/main/Pandas/Pandas(Introducao).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing Pandas

In [ ]:
import pandas as pd
import numpy as np

# Creating new DataFrames - Dictionary

In [ ]:
data={'student': ['João','José','Maria','Ana'], 'year':[1,2,3,1], 'marks':[9.8,6.7,8,9.9]}
dataflair_df=pd.DataFrame(data)
dataflair_df

In [ ]:
mean = dataflair_df['marks'].mean()
#notas = np.array(dataflair_df['marks'])
#media_notas = np.mean(notas)
#print(media_notas)

# Reading csv from URL

In [ ]:
url = ('https://raw.github.com/pandas-dev'
...: '/pandas/master/pandas/tests/io/data/csv/tips.csv')

In [ ]:
tips = pd.read_csv(url)

In [ ]:
tips

In [ ]:
### head() - Visualizar conteúdo ###

In [ ]:
### tail() - visualizar conteúdo ###

In [ ]:
tips.describe()

# Type - DataFrame / Series

In [ ]:
type(tips)

In [ ]:
type(tips["smoker"])

   # Creating New DataFrames 
       # Two examples

In [ ]:
## loc - [índice,nomedacoluna]

tips.loc[0:1,'sex']

In [ ]:
tips.loc[3,'size']

2

In [ ]:
tips.iloc[4,0]

24.59

In [ ]:
## iloc - slices 
tips.iloc[4,2:5]

In [ ]:
tips[['total_bill', 'tip', 'smoker', 'time']].head(5)

In [ ]:
## Filtrando ####
tips[tips['time'] == 'Dinner'].head(5)

In [ ]:
### Group by #### 
tips_by_sex = tips.groupby('sex').size()
tips_by_sex

In [ ]:
tips_by_sex.plot.bar(rot=0);

In [ ]:
### Group by - usando agg function ###

In [ ]:
tips_1.plot.pie(y='total_bill');

In [ ]:
df1 = pd.DataFrame({'city': ['Chicago', 'San Francisco', 'New York City'], 'rank': range(1, 4)})
df2 = pd.DataFrame({'city': ['Chicago', 'Boston', 'Los Angeles'], 'rank': [1, 4, 5]})

In [ ]:
df1.head()

In [ ]:
df2.head()

In [ ]:
pd.concat([df1, df2])

In [ ]:
DataFrame = pd.concat([df1, df2]).drop_duplicates()
DataFrame

In [ ]:
DataFrame.reset_index(inplace = True)
DataFrame

In [ ]:
df = pd.DataFrame(dict(age=[5, 6, np.NaN],born=[pd.NaT, pd.Timestamp('1939-05-27'),pd.Timestamp('1940-04-25')],
               name=['Alfred', 'Batman', ''],
                  toy=[None, 'Batmobile', 'Joker']))

In [ ]:
df

In [ ]:
A = df['age']
A
B = A/2
B

In [ ]:
df.isna()